
<mat-card>


<div class="container custom-container" *ngIf="!adminLogged">
    <div class="col-md-12">
        <h3 class="mb-3 text-center">Admin Login</h3>
        <div class="form-group">
            <input type="text" [(ngModel)]="adminLogin.uid" class="form-control" placeholder="UID">
        </div>
        <br>
        <div class="form-group">
            <input type="text" [(ngModel)]="adminLogin.pin" class="form-control" placeholder="PIN">
        </div>
        <br>
        <div class="form-group">
            <button
            (click)="loginAdmin(adminLogin)"
            mat-raised-button
            color="accent"
            type="submit">Login</button>
            
          
        </div>
    </div>
    
</div>
</mat-card>