<div class="footer">
 <div class="footer-content">
    <div class="footer-section about">
       <h1 >
        <i class="material-icons">wifi_tethering</i>
          <b>  CCPAN </b> 
       </h1> 
       <hr>
       <p>

           Lorem ipsum dolor sit amet consectetur 
           adipisicing elit. Necessitatibus aperiam 
           illum debitis quidem totam amet?
           Lorem ipsum dolor sit amet consectetur 
           
       </p>
       <div class="contact-details">
           <h3>
               <b>Contact us</b>
                </h3>
           <span>
            📧   fypiotsjce@gmail.com
            </span>
       </div>
       <div class="socials">
           <a href="#">🎥   Learn how to use on youtube</a>
       </div>
    </div>
    <div class="footer-section links">
      <h1>
        <i class="material-icons">insert_link</i>
         <b> Quick Links</b> 
       </h1>
      <hr>
      <ul>
          <a href="#"> <li> GitHub</li> </a>
          <a href="#"> <li> YouTube</li> </a>
          <a href="#"> <li> Doccumentation</li> </a>
          <a href="#"> <li> Research Paper</li> </a>

      </ul>
    </div>
    
 </div>
 <div class="footer-bottom">
     &copy; Electronics and communication Dept,JSSSTU Mysuru. 2022 
 </div>
</div>